<?php
/**
 * @link    https://github.com/nnx-framework/container
 * @author  Malofeykin Andrey  <and-rey2@yandex.ru>
 */

return [
    'nnx_container' => [
        /**
         * Список резолверов для определения имени "сервиса", исходя из контекста. Формат данных следующий:
         * 'entryNameResolvers' => [
         *      'произвольныйКлюч' => [
         *          //Должен быть зарегестрирован в \Nnx\Container\Container. Обязательный параметр
         *          'name' => 'имяРезолвера',
         *          //Настройки резолвера. Не обязательный параметр
         *          'options' => [],
         *          //Приоритет в цепочке резолверов
         *          'priority' => 1
         *      ]
         * ]
         */
        'entryNameResolvers' => [

        ]
    ]
];